body {
  background-image: url("https://picsum.photos/200/300");
  background-size: cover;
  padding: 20px;
  margin: 0;
}

#container {
  /* background: none; */
  display: flex;
  justify-content: center;
}

.from-box {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  max-width: 350px;
  /* background: #ffffff; */
  overflow: hidden;
  color: #010101;
  border: 2px solid black;
  font-size: 17px;
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px 24px 24px;
  gap: 16px;
  text-align: center;
}

.input {
  border: 2;
  height: 40px;
  width: 90%;
  border: 1px solid #000000;
  font-size: 17px;
  padding: 8px 15px;
  margin-top: 5px;
  background: none;
}

#designation {
  background: none;
  width: 100%;
  height: 50px;
  border: 2px;
  border: 1px solid #000000;
}

#resume {
  width: 90%;
  height: 40px;
  border: 1px solid #000000;
}
#gender-div {
  align-items: center;
  height: 50px;
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  border: 1px solid #000000;
  gap: 20px;
}

.error-msg {
  display: flex;
  left: 25px;
  margin-bottom: 5px;
}
#submit-btn {
  width: 100%;
}

